
.main-content .app header.sub-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafbfb;
    box-shadow: 0 1px 1px 1px rgba(181, 181, 181, 0.38);
    border-top-right-radius: 9px;
    height: 70px;
}
.main-content .app header.sub-menu .title {
    font-weight: bold;
    margin-left: 20px;
}
.main-content .app header.sub-menu .menu {
    display: flex;
    list-style: none;
    height: 100%;
}
.main-content .app header.sub-menu .menu li {
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: #6d7684;
    display: flex;
    align-items: center;
}
.main-content .app header.sub-menu .user-options {
    display: flex;
    margin-right: 16px;
}
.main-content .app header.sub-menu .user-options .icon {
    margin: 0 8px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(181, 181, 181, 0.38);
    position: relative;
}
.main-content .app header.sub-menu .user-options .icon.user-img {
    padding: 0;
    border: none;
}
.main-content .app header.sub-menu .user-options .icon.user-img img {
    border-radius: 5px;
}
.main-content .app header.sub-menu .user-options .icon .badge {
    position: absolute;
    top: -10px;
    right: -8px;
    border-radius: 50%;
    background: #ec407a;
    color: #fafbfb;
    font-size: 12px;
    padding-top: 5px;
    width: 20px;
    height: 15px;
}
.user-info{
    margin-right: 1rem;
}