
.projects .project-item {
    padding: 16px;
    margin: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px rgba(181, 181, 181, 0.38);
    user-select: none;
    width: 285px;
}
.projects .project-item .logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .project-item .logo-row img {
    border-radius: 8px;
    display: block;
}
.projects .project-item .logo-row .icon {
    color: #bbc3c9;
}
.projects .project-item .title-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0 10px;
}
.projects .project-item .title-row h3 {
    font-weight: bold;
}
.projects .project-item .title-row .links {
    display: flex;
    align-content: center;
    padding: 8px 0;
    color: #88909c;
    font-size: 0.75em;
}
.projects .project-item .title-row .links .icon {
    margin-right: 5px;
}
.projects .project-item .title-row .links a {
    color: #88909c;
    text-decoration: none;
}
.projects .project-item .desc-row {
    color: #88909c;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.projects .project-item .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .project-item .footer-row .days {
    padding: 8px 5px;
    border-radius: 4px;
    background: #bbc3c9;
    font-size: 12px;
    color: #565d68;
}
.projects .project-item .footer-row .days.good {
    color: #4caf50;
    background: #fcfefc;
}
.projects .project-item .footer-row .days.warning {
    color: #fb8c00;
    background: #ffe7c8;
}
.projects .project-item .footer-row .days.danger {
    color: #d32f2f;
    background: #f7d7d7;
}
.projects .project-item .footer-row .users img {
    border-radius: 3px;
    margin: 0 2px;
}

.btn_delete{
    position: relative;
    top: -1.5rem;
    left: 5.4rem;
    background: red;
    padding: 5px;
    border: 1px black solid;
    border-radius: 30px;
}